[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marc Petit-Huguenin (petithug)
[access "refs/for/refs/*"]
	read = group user/Marc Petit-Huguenin (petithug)
	push = group user/Marc Petit-Huguenin (petithug)
	label-Code-Review = -2..+2 group user/Marc Petit-Huguenin (petithug)
	label-Verified = -1..+1 group user/Marc Petit-Huguenin (petithug)
	rebase = group user/Marc Petit-Huguenin (petithug)
	removeReviewer = group user/Marc Petit-Huguenin (petithug)
	submit = group user/Marc Petit-Huguenin (petithug)
[access "refs/heads/*"]
	read = group user/Marc Petit-Huguenin (petithug)
	create = group user/Marc Petit-Huguenin (petithug)
	push = +force group user/Marc Petit-Huguenin (petithug)
	pushMerge = group user/Marc Petit-Huguenin (petithug)
[access "refs/tags/*"]
	push = group user/Marc Petit-Huguenin (petithug)
	push = +force group user/Marc Petit-Huguenin (petithug)
